<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Menú de opciones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item button (click)="navigateTo('opcion1')">
          Opción 1
        </ion-item>
        <ion-item button (click)="navigateTo('opcion2')">
          Opción 2
        </ion-item>
        <ion-item button (click)="navigateTo('opcion3')">
          Opción 3
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="danger" (click)="logout()">
    Cerrar sesión
  </ion-button>
